.counter {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  flex: 1 1 90px;
}

.counter input {
  outline: none;
  border: none;
  background-color: #d3d3d3;
  width: 65%;
  height: 40px;
  text-align: center;
}

.counter__buttons__wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 15%;
  min-width: 16px;
}

.counter__btn {
  width: 100%;
  height: 50%;
  cursor: pointer;
  outline: none;
  border: 1px solid rgba(163, 163, 163, 0.5);
}

.counter__btn:hover {
  background-color: rgba(163, 163, 163, 0.8);
}
