.shop__wrapper {
  width: 70%;
  height: auto;
  margin: auto;
  display: grid;
  grid-template-columns: 260px 1fr;
}

@media only screen and (max-width: 840px) {
  .shop__wrapper {
    width: 90%;
  }
}

@media only screen and (max-width: 600px) {
  .shop__wrapper {
    grid-template-columns: 1fr;
  }
}
