.sidebar__box {
  background-color: aliceblue;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

@media only screen and (max-width: 600px) {
  .sidebar__box {
    margin: 0 auto 40px auto;
    width: 80%;
  }
}
