.cart__product {
  width: 100%;
  min-height: 160px;
  border: 1px solid rgba(163, 163, 163, 0.5);
  padding: 20px 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
}

.cart__product img {
  display: block;
  height: 100%;
  width: 10%;
}

.cart__product__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  padding-left: 20px;
  width: 65%;
  font-size: 1rem;
}

.cart__product__info span {
  display: block;
  font-weight: 600;
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.cart__product__controller {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  width: 20%;
  margin-left: 20px;
}

.cart__product__controller span {
  display: block;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 20%;
}

.remove-product-from-cart-btn {
  cursor: pointer;
  width: 15%;
  background-color: white;
  border: 1px solid #d21313;
  color: #d21313;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  transition: all 0.2s;
}

.remove-product-from-cart-btn:hover {
  background-color: #d21313;
  color: white;
}

@media only screen and (max-width: 1000px) {
  .cart__product__info span {
    font-size: 1.1rem;
  }
  .cart__product__info {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 760px) {
  .cart__product {
    flex-direction: column;
  }
  .cart__product img {
    width: 60%;
    margin-bottom: 40px;
  }
  .cart__product__info {
    width: 100%;
    padding: 0;
    margin-bottom: 30px;
    text-align: center;
  }
  .cart__product__controller {
    width: 80%;
    margin-left: 0;
  }
}
